%background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%background-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}