.banner-section {
  position: relative;
  height: $banner-section-height;
  @extend %background-cover;

  @include breakpoint(mobile) {
    padding-top: $gutter-lg;
    background-size: contain;
    background-position: center top;
    height: auto;
    margin-bottom: $gutter-lg;
  }

  .container {
    position: relative;
    height: 100%;
  }

  &-header {
    position: absolute;
    top: $gutter-lg;
    left: $gutter-xl;
    bottom: 0;
    width: 455px;
    padding: $gutter-sm $gutter-xl $gutter $gutter;
    background-color: #eee;

    &::before {
      position: absolute;
      top: -#{$gutter-lg};
      left: -#{$gutter-lg};
      width: 100%;
      bottom: $gutter;
      background-color: $c-white;
      content: " ";

      @include breakpoint(mobile) {
        display: none;
      }
    }

    @include breakpoint(mobile) {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      padding: $gutter-sm 0;
      background: none;
    }
  }

  &-title, &-desc, &-cta {
    position: relative;
    z-index: 2;
  }

  &-title {
    font-weight: $fw-bold;
    font-size: $fs-h1;
    line-height: 1;
    margin-bottom: $gutter-sm;

    @include breakpoint(mobile) {
      display: inline-block;
      font-size: $fs-h2;
      background-color: $c-white;
      padding: $gutter-sm $gutter-sm $gutter-sm 15px;
      margin-left: -15px;
      margin-bottom: 0;
    }
  }

  &-desc {
    padding-left: $gutter-sm;
    border-left: 1px solid $c-orange-primary;
    margin-bottom: $gutter-sm;
    background-color: $c-white;

    @include breakpoint(mobile) {
      max-width: 250px;
    }
  }
}

.section {
  margin: $gutter-lg 0;

  @include breakpoint(mobile) {
    margin: $gutter 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &-header {
    position: relative;
    padding-bottom: $gutter-sm;
    margin-bottom: $gutter;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background-color: $c-orange-primary;
      content: " ";
    }
  }

  &-footer {
    text-align: center;
    margin-top: $gutter;
  }
}
